.fon {
    position: absolute;
    background: url("img/banner_fon.jpg") no-repeat center center;
    width: 700px;
    height: 388px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.woman {
    position: absolute;
    background: url(img/women.png) no-repeat;
    width: 252px;
    height: 48px;
    margin-top: 320px;
    margin-left: 80px;
}

.man {
    position: absolute;
    background: url(img/man.png) no-repeat;
    width: 252px;
    height: 48px;
    margin-top: 320px;
    margin-left: 360px;
}